<article class="filter" id="filter">
					<div class="btn-filter">Фильтр товаров</div>
					<div class="wrap-filter-items">
						<div class="item-filter">
							<h3>Бренд</h3>
							<ul>
								<li><a href="/siberia">Siberia</a></li>
								<li><a href="/odens">Odens</a></li>
								<li><a href="/epok">Lyft</a></li>
								<li><a href="/russian-products">Российские продукты</a></li>
								<li><a href="/eliektronnyie-sighariety">Электронные сигареты</a></li>
								<li><a href="/juul">JUUL</a></li>
								<li><a href="/zhidkosti-dlia-eliektronnykh-sighariet">Житкости для э-сигарет</a></li>
								<li><a href="/swedish-match">Swedish Match</a></li>
								<li><a href="/thunder">Thunder</a></li>
								<li><a href="/other-brands">Other brands</a></li>
							</ul>
						</div>
						<div class="item-filter">
							<h3>Крепость</h3>
							<ul>
								<li><a href="/ultra-strong-snus">Очень крепкий</a></li>
								<li><a href="/strong-snus">Крепкий</a></li>
								<li><a href="/normal-strong">Средней крепости</a></li>
								<li><a href="/low-strong">Легкий</a></li>
							</ul>
						</div>
						<div class="item-filter">
							<h3>Вид снюса</h3>
							<ul>
								<li><a href="/portion-snus">Порционный снюс</a></li>
								<li><a href="/loose-snus">Рассыпной снюс</a></li>
							</ul>
						</div>
						<div class="item-filter">
							<h3>Sale</h3>
							<ul>
								<li><a href="/snus-sale">Акция</a></li>
								<li><a href="/new-snus">Новинка</a></li>
								<li><a href="/best-snus">Хит продаж</a></li>
								<li><a href="/all-snus">Все товары</a></li>
							</ul>
						</div>
					</div>
				</article>