<article class="filter" id="filter">
					<div class="btn-filter">Фильтр товаров</div>
					<div class="wrap-filter-items">
						<div class="item-filter">
							<h3>Бренд</h3>
							<ul>
								<li><a href="/siberia.html">Siberia</a></li>
								<li><a href="/odens.html">Odens</a></li>
								<li><a href="/epok.html">Epok</a></li>
								<li><a href="/swedish-match.html">Swedish Match</a></li>
								<li><a href="/thunder.html">Thunder</a></li>
								<li><a href="/other-brands.html">Other brands</a></li>
							</ul>
						</div>
						<div class="item-filter">
							<h3>Крепость</h3>
							<ul>
								<li><a href="/ultra-strong-snus.html">Очень крепкий</a></li>
								<li><a href="/strong-snus.html">Крепкий</a></li>
								<li><a href="/normal-strong.html">Средней крепости</a></li>
								<li><a href="/low-strong.html">Легкий</a></li>
							</ul>
						</div>
						<div class="item-filter">
							<h3>Вид снюса</h3>
							<ul>
								<li><a href="/portion-snus.html">Порционный снюс</a></li>
								<li><a href="/loose-snus.html">Рассыпной снюс</a></li>
							</ul>
						</div>
						<div class="item-filter">
							<h3>Sale</h3>
							<ul>
								<li><a href="/snus-sale.html">Акция</a></li>
								<li><a href="/new-snus.html">Новинка</a></li>
								<li><a href="/best-snus.html">Хит продаж</a></li>
							</ul>
						</div>
					</div>
				</article>