<footer class="main-foot">
		<div class="container">
			<div class="foot-contact">
				<ul class="social">
					<li><a href="//www.instagram.com/snus.kz/" target="_blank" title="Instagram snus.kz"><img src="/img/social/instagram.svg" alt="Instagram snus.kz"></a></li>
					<li><a href="//t.me/Snuskz" target="_blank" title="Telegram @Snuskz"><img src="/img/social/telegram.svg" alt="Telegram @Snuskz"></a></li>
					<li><a href="viber://chat?number=+77087752231" target="_blank" title="Написать в Viber"><img src="/img/social/viber.svg" alt="Viber"></a></li>
					<li><a href="//api.whatsapp.com/send?phone=77087752231" target="_blank" title="Написать в WhatsApp"><img src="/img/social/whatsapp.svg" alt="WhatsApp"></a></li>
				</ul>
				<div>
					<a class="phone" href="tel:+77087752231" title="Позвонить">+7 708 775 2231</a>
				</div>
			</div>
			<div class="foot-bottom">
				<span>© Snus-kz.com 2019</span>
				<span>Made in <a href="https://webs.com.ru/" target="_blank" rel="nofollow">Webs</a> <span class="heart">♥</span></span>
			</div>
		</div>
	</footer>