{% include head.html %}
<body>

	{% include header.html %}

	<main class="container mt-t-head">
		<div class="row">
			<div class="col-lg-10 order-1 simpleCart_shelfItem" id="pjax-container">		
				<h1 class="item_name">{{ page.product-name }}</h1>
				<div class="row">
					<div class="col-xl-4 col-lg-5 col-md-6">
						<div class="product-img-wrap">
							<img class="product-img item_thumb" src="{{ page.image }}" alt="{{ page.product-name }}">

							{% if page.sale == 1 %}
							<div class="product-lable product-sale">Акция</div>
							{% endif %}
							{% if page.sale == 2 %}
							<div class="product-lable product-new">Новинка</div>
							{% endif %}
							{% if page.sale == 3 %}
							<div class="product-lable product-hit">Хит продаж</div>
							{% endif %}

							<span class="item_link d-none">{{ page.image }}</span>
							<div class="price-wrap">
								
								{% if page.new-price %}
								<div class="wrap-prices">
									<div class="old-price">{{page.price}} ₸</div>
									<div class="price item_price">{{page.new-price}} ₸</div>
								</div>
								{% else %}
								<div class="price item_price">{{page.price}} ₸</div>
								{% endif %}

							</div>
							<ul class="product-info">
								<li>Содержание никотина: <span>{{ page.nicotine }}мг/г</span></li>
								<li>Порций: <span>{{ page.portions }}</span></li>
								<li>Грамм в банке: <span>{{ page.gram }}г</span></li>
								<li>Вкус: <span>{{ page.taste }}</span></li>
							</ul>

							{% if page.has_availability == false %}
							<div class="product-not">Нет в наличии</div>
							{% else %}
							<div class="product-btn item_add">Добавить в корзину</div>
							{% endif %}

						</div>
					</div>
					<div class="col-xl-8 col-lg-7 col-md-6">
						{{ content }}
					</div>
				</div>
				{% include comment-product.html %}
			</div>
			<div class="col-lg-2">
				{% include filter.html %}
			</div>
		</div>
	</main>

	<a class="cart popup-with-move-anim" href="#small-dialog"><span class="cart-count-mini simpleCart_quantity"></span></a>

	{% include modal-cart.html %}

	{% include footer.html %}
	{% include foot-script.html %}
